name: demec
channels:
  - pytorch
  - conda-forge
  - defaults
dependencies:
  - python=3.11
  - pip
  - numpy
  - pandas
  - networkx>=3.0
  - scikit-learn
  - pytorch
  - pip:
      - torch-geometric
      - -e .